# 本地运行组件与数据文件（不上传 GitHub）
python/
全能文件保存系统/全能文件保存_server.py
全能文件保存系统/config.json
全能文件保存系统/数据.txt
全能文件保存系统/回收站.txt
全能文件保存系统/文件库/
全能文件保存系统/归档/
全能文件保存系统/数据备份/
使用说明.html
启动·停止.bat
启动全能文件保存.bat
停止全能文件保存.bat
备份当前版本.bat

# 其他
*.log
旧版验证/
测试/
